<Section class="section" relative id="Articles__Hero">
    <div class="heading-container" style="max-width: {{ .Page.Params.hero.maxWidthPX }}px;">
        <div class="column">
            <h2 class="hero-heading">{{ .Page.Params.hero.heading }}</h2>
        </div>
        <div class="column">
            <lottie-player src="js/unlock.json" background="transparent" speed="1" loop autoplay>
                <img src="images/unlock.svg">
            </lottie-player>
        </div>
    </div>
    <div class="subheading-container">
        {{ partial "bio.html" . }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
