<Section class="section" relative id="Articles__Hero">
    <div class="heading-container" style="max-width: {{ .Page.Params.hero.maxWidthPX }}px;">
        <div class="column">
            <h2 class="hero-heading">{{ .Page.Params.hero.heading }}</h2>
            <!-- Start Square Appointments Embed code --> 
            <a 
                target="_top" 
                style=" 
                    background-color: #456d9c; 
                    border: none; 
                    color: white; 
                    height: 40px; 
                    text-transform: uppercase; 
                    font-family: 'Square Market', sans-serif; 
                    letter-spacing: 1px; 
                    line-height: 38px; 
                    padding: 0 28px;
                    margin-top: 20px;
                    border-radius: 8px; 
                    font-weight: 500; 
                    font-size: 14px; 
                    cursor: pointer; 
                    display: inline-block; " 
                href="https://squareup.com/appointments/book/as3u6kbu0irf0k/F4SJ6RB5Y7E9B/start" 
                rel="nofollow">Let&#x27;s Discuss How</a>
                <h5>{{ .Page.Params.hero.sub }}</h5>
            <!-- End Square Appointments Embed code -->
        </div>
        <div class="column">
            <lottie-player src="js/unlock.json" background="transparent" speed="1" loop autoplay>
                <img src="images/unlock.svg">
            </lottie-player>
        </div>
    </div>
    <div class="subheading-container">
        {{ partial "bio.html" . }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
