<Section class="brand-info">
  <div class="nav-container">
    <a class="logo-link" href="/">
      {{ partial "icons/ui/logo.html" . }}
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>
    <div class="menu-container">
      <nav class="header-menu">{{ partial "main-menu.html" . }}</nav>
      <div class="nav-controls">
        <button id="themeColorButton" class="icon-wrapper"> 
          <div id="sunRays" class="sun-rays"></div>
          <div id="moonOrSun" class="moon-or-sun"></div>
          <div id="moonMask" class="moon-mask"></div>
        </button>
      </div>
    </div>
  </div>
</Section>
<Section>
  {{ partial "mobile-menu.html" . }}
</Section>
  
  {{ $script := resources.Get "js/toggleLogos.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/toggleColors.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/copyUrl.js" }}
  <script src="{{ $script.RelPermalink }}"></script>