<section class="article-cta">
    <div class="article-cta__photo-container">
        <img class="article-cta__photo-container__photo" src="../../images/stouffer.jpg"/>
    </div>
    <div class="article-cta__message">
        <span class="article-cta__message__span">
            Alex Stouffer-DeBord guides financial advisors through the process of creating effective brand messaging and web-tools built to sell that message effectively. Let's take your mastery of the financial world and integrate it into the metaverse.
        </span>
        <div class="article-cta__message__button-container">
            <a class="cta-btn" href="https://squareup.com/appointments/book/as3u6kbu0irf0k/F4SJ6RB5Y7E9B/start">Book Appointment</a>
        </div>
    </div>
</section>